In [116]:
using Pkg;

In [129]:
Pkg.add("CSV");

  Resolving package versions...
   Updating `~/.julia/environments/v1.4/Project.toml`
 [no changes]
   Updating `~/.julia/environments/v1.4/Manifest.toml`
 [no changes]

In [130]:
Pkg.add("DataFramesMeta") ;

  Resolving package versions...
   Updating `~/.julia/environments/v1.4/Project.toml`
 [no changes]
   Updating `~/.julia/environments/v1.4/Manifest.toml`
 [no changes]

In [134]:
using DataFrames, DataFramesMeta, CSV

┌ Info: Precompiling CSV [336ed68f-0bac-5ca0-87d4-7b16caf5d00b]
└ @ Base loading.jl:1260

In [10]:
datos = DataFrame(nombre=["daniel", "hernan", "diego"],
                      edad=[24., 34., 29.],
                      hijos=[0, 2, 4])

3×3 DataFrame
│ Row │ nombre │ edad    │ hijos │
│     │ String │ Float64 │ Int64 │
├─────┼────────┼─────────┼───────┤
│ 1   │ daniel │ 24.0    │ 0     │
│ 2   │ hernan │ 34.0    │ 2     │
│ 3   │ diego  │ 29.0    │ 4     │

In [26]:
@linq datos |>
           where(:edad .<=29) |>
           select(:nombre,:edad,:hijos)

2×3 DataFrame
│ Row │ nombre │ edad    │ hijos │
│     │ String │ Float64 │ Int64 │
├─────┼────────┼─────────┼───────┤
│ 1   │ daniel │ 24.0    │ 0     │
│ 2   │ diego  │ 29.0    │ 4     │

In [29]:
@linq datos |>
           where(:edad .<=29) |>
           select(collect(1:3))

2×3 DataFrame
│ Row │ nombre │ edad    │ hijos │
│     │ String │ Float64 │ Int64 │
├─────┼────────┼─────────┼───────┤
│ 1   │ daniel │ 24.0    │ 0     │
│ 2   │ diego  │ 29.0    │ 4     │

## EJEMPLO COMPLETO

In [217]:
base=DataFrame(CSV.read("data.csv"))

30×7 DataFrame. Omitted printing of 1 columns
│ Row │ SUBJETE │ PERIODE │ SUDOKU │ DIFICULTAT │ CONTESTATS │ CORRECTES │
│     │ String  │ Int64   │ Int64  │ String     │ Int64      │ Int64     │
├─────┼─────────┼─────────┼────────┼────────────┼────────────┼───────────┤
│ 1   │ A       │ 1       │ 4      │ D          │ 11         │ 11        │
│ 2   │ A       │ 2       │ 3      │ F          │ 45         │ 45        │
│ 3   │ A       │ 3       │ 2      │ D          │ 16         │ 15        │
│ 4   │ B       │ 1       │ 1      │ F          │ 45         │ 45        │
│ 5   │ B       │ 2       │ 2      │ D          │ 8          │ 7         │
│ 6   │ B       │ 3       │ 3      │ F          │ 45         │ 45        │
│ 7   │ C       │ 1       │ 2      │ D          │ 5          │ 2         │
│ 8   │ C       │ 2       │ 4      │ D          │ 4          │ 4         │
│ 9   │ C       │ 3       │ 1      │ F          │ 9          │ 9         │
│ 10  │ D       │ 1       │ 3      │ F          │ 3          │ 3         │
⋮
│ 20  │ G       │ 2       │ 6      │ F          │ 45         │ 45        │
│ 21  │ G       │ 3       │ 7      │ F          │ 45         │ 45        │
│ 22  │ H       │ 1       │ 6      │ F          │ 45         │ 45        │
│ 23  │ H       │ 2       │ 8      │ D          │ 8          │ 8         │
│ 24  │ H       │ 3       │ 5      │ D          │ 9          │ 9         │
│ 25  │ I       │ 1       │ 7      │ F          │ 41         │ 41        │
│ 26  │ I       │ 2       │ 5      │ D          │ 14         │ 12        │
│ 27  │ I       │ 3       │ 8      │ D          │ 16         │ 8         │
│ 28  │ J       │ 1       │ 8      │ D          │ 19         │ 2         │
│ 29  │ J       │ 2       │ 6      │ F          │ 24         │ 19        │
│ 30  │ J       │ 3       │ 7      │ F          │ 38         │ 36        │

# where

In [187]:
@where(base, :PERIODE .== 1, :SUDOKU .== 4)

2×7 DataFrame. Omitted printing of 1 columns
│ Row │ SUBJETE │ PERIODE │ SUDOKU │ DIFICULTAT │ CONTESTATS │ CORRECTES │
│     │ String  │ Int64   │ Int64  │ String     │ Int64      │ Int64     │
├─────┼─────────┼─────────┼────────┼────────────┼────────────┼───────────┤
│ 1   │ A       │ 1       │ 4      │ D          │ 11         │ 11        │
│ 2   │ E       │ 1       │ 4      │ D          │ 8          │ 8         │

In [188]:
@where(base,:SUBJETE.=="A")

3×7 DataFrame. Omitted printing of 1 columns
│ Row │ SUBJETE │ PERIODE │ SUDOKU │ DIFICULTAT │ CONTESTATS │ CORRECTES │
│     │ String  │ Int64   │ Int64  │ String     │ Int64      │ Int64     │
├─────┼─────────┼─────────┼────────┼────────────┼────────────┼───────────┤
│ 1   │ A       │ 1       │ 4      │ D          │ 11         │ 11        │
│ 2   │ A       │ 2       │ 3      │ F          │ 45         │ 45        │
│ 3   │ A       │ 3       │ 2      │ D          │ 16         │ 15        │

In [196]:
@where(base,:SUDOKU.>4)

15×7 DataFrame. Omitted printing of 1 columns
│ Row │ SUBJETE │ PERIODE │ SUDOKU │ DIFICULTAT │ CONTESTATS │ CORRECTES │
│     │ String  │ Int64   │ Int64  │ String     │ Int64      │ Int64     │
├─────┼─────────┼─────────┼────────┼────────────┼────────────┼───────────┤
│ 1   │ F       │ 1       │ 8      │ D          │ 8          │ 8         │
│ 2   │ F       │ 2       │ 7      │ F          │ 45         │ 45        │
│ 3   │ F       │ 3       │ 6      │ F          │ 45         │ 45        │
│ 4   │ G       │ 1       │ 5      │ D          │ 4          │ 4         │
│ 5   │ G       │ 2       │ 6      │ F          │ 45         │ 45        │
│ 6   │ G       │ 3       │ 7      │ F          │ 45         │ 45        │
│ 7   │ H       │ 1       │ 6      │ F          │ 45         │ 45        │
│ 8   │ H       │ 2       │ 8      │ D          │ 8          │ 8         │
│ 9   │ H       │ 3       │ 5      │ D          │ 9          │ 9         │
│ 10  │ I       │ 1       │ 7      │ F          │ 41         │ 41        │
│ 11  │ I       │ 2       │ 5      │ D          │ 14         │ 12        │
│ 12  │ I       │ 3       │ 8      │ D          │ 16         │ 8         │
│ 13  │ J       │ 1       │ 8      │ D          │ 19         │ 2         │
│ 14  │ J       │ 2       │ 6      │ F          │ 24         │ 19        │
│ 15  │ J       │ 3       │ 7      │ F          │ 38         │ 36        │

In [202]:
@where(base, .|(:SUBJETE .== "A", :SUBJETE .== "B"))  #.| es or

6×7 DataFrame. Omitted printing of 1 columns
│ Row │ SUBJETE │ PERIODE │ SUDOKU │ DIFICULTAT │ CONTESTATS │ CORRECTES │
│     │ String  │ Int64   │ Int64  │ String     │ Int64      │ Int64     │
├─────┼─────────┼─────────┼────────┼────────────┼────────────┼───────────┤
│ 1   │ A       │ 1       │ 4      │ D          │ 11         │ 11        │
│ 2   │ A       │ 2       │ 3      │ F          │ 45         │ 45        │
│ 3   │ A       │ 3       │ 2      │ D          │ 16         │ 15        │
│ 4   │ B       │ 1       │ 1      │ F          │ 45         │ 45        │
│ 5   │ B       │ 2       │ 2      │ D          │ 8          │ 7         │
│ 6   │ B       │ 3       │ 3      │ F          │ 45         │ 45        │

In [200]:
@where(base, .|(:PERIODE .== 1, :SUDOKU .== 4) )

12×7 DataFrame. Omitted printing of 1 columns
│ Row │ SUBJETE │ PERIODE │ SUDOKU │ DIFICULTAT │ CONTESTATS │ CORRECTES │
│     │ String  │ Int64   │ Int64  │ String     │ Int64      │ Int64     │
├─────┼─────────┼─────────┼────────┼────────────┼────────────┼───────────┤
│ 1   │ A       │ 1       │ 4      │ D          │ 11         │ 11        │
│ 2   │ B       │ 1       │ 1      │ F          │ 45         │ 45        │
│ 3   │ C       │ 1       │ 2      │ D          │ 5          │ 2         │
│ 4   │ C       │ 2       │ 4      │ D          │ 4          │ 4         │
│ 5   │ D       │ 1       │ 3      │ F          │ 3          │ 3         │
│ 6   │ D       │ 3       │ 4      │ D          │ 2          │ 2         │
│ 7   │ E       │ 1       │ 4      │ D          │ 8          │ 8         │
│ 8   │ F       │ 1       │ 8      │ D          │ 8          │ 8         │
│ 9   │ G       │ 1       │ 5      │ D          │ 4          │ 4         │
│ 10  │ H       │ 1       │ 6      │ F          │ 45         │ 45        │
│ 11  │ I       │ 1       │ 7      │ F          │ 41         │ 41        │
│ 12  │ J       │ 1       │ 8      │ D          │ 19         │ 2         │

# select

In [203]:
@select(base,:PERIODE,:SUDOKU)

30×2 DataFrame
│ Row │ PERIODE │ SUDOKU │
│     │ Int64   │ Int64  │
├─────┼─────────┼────────┤
│ 1   │ 1       │ 4      │
│ 2   │ 2       │ 3      │
│ 3   │ 3       │ 2      │
│ 4   │ 1       │ 1      │
│ 5   │ 2       │ 2      │
│ 6   │ 3       │ 3      │
│ 7   │ 1       │ 2      │
│ 8   │ 2       │ 4      │
│ 9   │ 3       │ 1      │
│ 10  │ 1       │ 3      │
⋮
│ 20  │ 2       │ 6      │
│ 21  │ 3       │ 7      │
│ 22  │ 1       │ 6      │
│ 23  │ 2       │ 8      │
│ 24  │ 3       │ 5      │
│ 25  │ 1       │ 7      │
│ 26  │ 2       │ 5      │
│ 27  │ 3       │ 8      │
│ 28  │ 1       │ 8      │
│ 29  │ 2       │ 6      │
│ 30  │ 3       │ 7      │

combinacion en una sola linea

In [214]:
@linq base|>
where(:SUDOKU.<3)|>
select(:PERIODE,:SUDOKU)

7×2 DataFrame
│ Row │ PERIODE │ SUDOKU │
│     │ Int64   │ Int64  │
├─────┼─────────┼────────┤
│ 1   │ 3       │ 2      │
│ 2   │ 1       │ 1      │
│ 3   │ 2       │ 2      │
│ 4   │ 1       │ 2      │
│ 5   │ 3       │ 1      │
│ 6   │ 2       │ 1      │
│ 7   │ 2       │ 2      │

# order by

In [215]:
@orderby(base,:SUBJETE)

30×7 DataFrame. Omitted printing of 1 columns
│ Row │ SUBJETE │ PERIODE │ SUDOKU │ DIFICULTAT │ CONTESTATS │ CORRECTES │
│     │ String  │ Int64   │ Int64  │ String     │ Int64      │ Int64     │
├─────┼─────────┼─────────┼────────┼────────────┼────────────┼───────────┤
│ 1   │ A       │ 1       │ 4      │ D          │ 11         │ 11        │
│ 2   │ A       │ 2       │ 3      │ F          │ 45         │ 45        │
│ 3   │ A       │ 3       │ 2      │ D          │ 16         │ 15        │
│ 4   │ B       │ 1       │ 1      │ F          │ 45         │ 45        │
│ 5   │ B       │ 2       │ 2      │ D          │ 8          │ 7         │
│ 6   │ B       │ 3       │ 3      │ F          │ 45         │ 45        │
│ 7   │ C       │ 1       │ 2      │ D          │ 5          │ 2         │
│ 8   │ C       │ 2       │ 4      │ D          │ 4          │ 4         │
│ 9   │ C       │ 3       │ 1      │ F          │ 9          │ 9         │
│ 10  │ D       │ 1       │ 3      │ F          │ 3          │ 3         │
⋮
│ 20  │ G       │ 2       │ 6      │ F          │ 45         │ 45        │
│ 21  │ G       │ 3       │ 7      │ F          │ 45         │ 45        │
│ 22  │ H       │ 1       │ 6      │ F          │ 45         │ 45        │
│ 23  │ H       │ 2       │ 8      │ D          │ 8          │ 8         │
│ 24  │ H       │ 3       │ 5      │ D          │ 9          │ 9         │
│ 25  │ I       │ 1       │ 7      │ F          │ 41         │ 41        │
│ 26  │ I       │ 2       │ 5      │ D          │ 14         │ 12        │
│ 27  │ I       │ 3       │ 8      │ D          │ 16         │ 8         │
│ 28  │ J       │ 1       │ 8      │ D          │ 19         │ 2         │
│ 29  │ J       │ 2       │ 6      │ F          │ 24         │ 19        │
│ 30  │ J       │ 3       │ 7      │ F          │ 38         │ 36        │

In [218]:
@transform(base,div = :SUDOKU ./ :PERIODE .* 60)

30×8 DataFrame. Omitted printing of 2 columns
│ Row │ SUBJETE │ PERIODE │ SUDOKU │ DIFICULTAT │ CONTESTATS │ CORRECTES │
│     │ String  │ Int64   │ Int64  │ String     │ Int64      │ Int64     │
├─────┼─────────┼─────────┼────────┼────────────┼────────────┼───────────┤
│ 1   │ A       │ 1       │ 4      │ D          │ 11         │ 11        │
│ 2   │ A       │ 2       │ 3      │ F          │ 45         │ 45        │
│ 3   │ A       │ 3       │ 2      │ D          │ 16         │ 15        │
│ 4   │ B       │ 1       │ 1      │ F          │ 45         │ 45        │
│ 5   │ B       │ 2       │ 2      │ D          │ 8          │ 7         │
│ 6   │ B       │ 3       │ 3      │ F          │ 45         │ 45        │
│ 7   │ C       │ 1       │ 2      │ D          │ 5          │ 2         │
│ 8   │ C       │ 2       │ 4      │ D          │ 4          │ 4         │
│ 9   │ C       │ 3       │ 1      │ F          │ 9          │ 9         │
│ 10  │ D       │ 1       │ 3      │ F          │ 3          │ 3         │
⋮
│ 20  │ G       │ 2       │ 6      │ F          │ 45         │ 45        │
│ 21  │ G       │ 3       │ 7      │ F          │ 45         │ 45        │
│ 22  │ H       │ 1       │ 6      │ F          │ 45         │ 45        │
│ 23  │ H       │ 2       │ 8      │ D          │ 8          │ 8         │
│ 24  │ H       │ 3       │ 5      │ D          │ 9          │ 9         │
│ 25  │ I       │ 1       │ 7      │ F          │ 41         │ 41        │
│ 26  │ I       │ 2       │ 5      │ D          │ 14         │ 12        │
│ 27  │ I       │ 3       │ 8      │ D          │ 16         │ 8         │
│ 28  │ J       │ 1       │ 8      │ D          │ 19         │ 2         │
│ 29  │ J       │ 2       │ 6      │ F          │ 24         │ 19        │
│ 30  │ J       │ 3       │ 7      │ F          │ 38         │ 36        │

In [221]:
@by(base,:SUBJETE, maximo = maximum(:SUDOKU))

10×2 DataFrame
│ Row │ SUBJETE │ media │
│     │ String  │ Int64 │
├─────┼─────────┼───────┤
│ 1   │ A       │ 4     │
│ 2   │ B       │ 3     │
│ 3   │ C       │ 4     │
│ 4   │ D       │ 4     │
│ 5   │ E       │ 4     │
│ 6   │ F       │ 8     │
│ 7   │ G       │ 7     │
│ 8   │ H       │ 8     │
│ 9   │ I       │ 8     │
│ 10  │ J       │ 8     │