In [15]:
using Pkg
Pkg.add("DataFrames")
using DataFrames

  Resolving package versions...
   Updating `~/.julia/environments/v1.4/Project.toml`
 [no changes]
   Updating `~/.julia/environments/v1.4/Manifest.toml`
 [no changes]

In [16]:
df = DataFrame(A = 1:4, B = ["M", "F", "F", "M"])
df

4×2 DataFrame
│ Row │ A     │ B      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ M      │
│ 2   │ 2     │ F      │
│ 3   │ 3     │ F      │
│ 4   │ 4     │ M      │

In [18]:
df

4×2 DataFrame
│ Row │ A     │ B      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ M      │
│ 2   │ 2     │ F      │
│ 3   │ 3     │ F      │
│ 4   │ 4     │ M      │

In [18]:
size(df)
typeof(df)

DataFrame

In [4]:
df.A

4-element Array{Int64,1}:
 1
 2
 3
 4

In [9]:
push!(df, Dict(:B => "DA", :A => 5))

5×2 DataFrame
│ Row │ A     │ B      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ M      │
│ 2   │ 2     │ F      │
│ 3   │ 3     │ F      │
│ 4   │ 4     │ M      │
│ 5   │ 5     │ DA     │

In [20]:
push!(df, [6, "N"])

7×2 DataFrame
│ Row │ A     │ B      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ M      │
│ 2   │ 2     │ F      │
│ 3   │ 3     │ F      │
│ 4   │ 4     │ M      │
│ 5   │ 5     │ DA     │
│ 6   │ 2     │ N      │
│ 7   │ 6     │ N      │

In [21]:
rename!(df, Dict(:A =>:VA, :B => :VB))

7×2 DataFrame
│ Row │ VA    │ VB     │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ M      │
│ 2   │ 2     │ F      │
│ 3   │ 3     │ F      │
│ 4   │ 4     │ M      │
│ 5   │ 5     │ DA     │
│ 6   │ 2     │ N      │
│ 7   │ 6     │ N      │

In [23]:
rename!(df,["var1","var2"])

7×2 DataFrame
│ Row │ var1  │ var2   │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ M      │
│ 2   │ 2     │ F      │
│ 3   │ 3     │ F      │
│ 4   │ 4     │ M      │
│ 5   │ 5     │ DA     │
│ 6   │ 2     │ N      │
│ 7   │ 6     │ N      │

In [31]:
df = DataFrame(A = 1:2:1000, B = repeat(1:10, inner=50), C = 1:500)

500×3 DataFrame
│ Row │ A     │ B     │ C     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 1     │ 1     │
│ 2   │ 3     │ 1     │ 2     │
│ 3   │ 5     │ 1     │ 3     │
│ 4   │ 7     │ 1     │ 4     │
│ 5   │ 9     │ 1     │ 5     │
│ 6   │ 11    │ 1     │ 6     │
│ 7   │ 13    │ 1     │ 7     │
│ 8   │ 15    │ 1     │ 8     │
│ 9   │ 17    │ 1     │ 9     │
│ 10  │ 19    │ 1     │ 10    │
⋮
│ 490 │ 979   │ 10    │ 490   │
│ 491 │ 981   │ 10    │ 491   │
│ 492 │ 983   │ 10    │ 492   │
│ 493 │ 985   │ 10    │ 493   │
│ 494 │ 987   │ 10    │ 494   │
│ 495 │ 989   │ 10    │ 495   │
│ 496 │ 991   │ 10    │ 496   │
│ 497 │ 993   │ 10    │ 497   │
│ 498 │ 995   │ 10    │ 498   │
│ 499 │ 997   │ 10    │ 499   │
│ 500 │ 999   │ 10    │ 500   │

In [43]:
first(df,3)

3×3 DataFrame
│ Row │ A     │ B     │ C     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 1     │ 1     │
│ 2   │ 3     │ 1     │ 2     │
│ 3   │ 5     │ 1     │ 3     │

In [44]:
last(df,3)

3×3 DataFrame
│ Row │ A     │ B     │ C     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 995   │ 10    │ 498   │
│ 2   │ 997   │ 10    │ 499   │
│ 3   │ 999   │ 10    │ 500   │

In [70]:
A = Array(1:2:1000);
B = Array(repeat(1:10, inner=50));
C = Array(1:500);

# Indices

In [78]:
df.A;

In [80]:
df[1:3,:]

3×3 DataFrame
│ Row │ A     │ B     │ C     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 1     │ 1     │
│ 2   │ 3     │ 1     │ 2     │
│ 3   │ 5     │ 1     │ 3     │

In [81]:
df[[1,3],:]

2×3 DataFrame
│ Row │ A     │ B     │ C     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 1     │ 1     │
│ 2   │ 5     │ 1     │ 3     │

In [83]:
df[:,[1,3]] ;

In [86]:
df[:, [:A, :B]] ; first(df,5)

5×3 DataFrame
│ Row │ A     │ B     │ C     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 1     │ 1     │
│ 2   │ 3     │ 1     │ 2     │
│ 3   │ 5     │ 1     │ 3     │
│ 4   │ 7     │ 1     │ 4     │
│ 5   │ 9     │ 1     │ 5     │

In [87]:
df[in.(df.A, Ref([1, 5, 601])), :]

3×3 DataFrame
│ Row │ A     │ B     │ C     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 1     │ 1     │
│ 2   │ 5     │ 1     │ 3     │
│ 3   │ 601   │ 7     │ 301   │

# resumen

In [88]:
describe(df)

3×8 DataFrame. Omitted printing of 1 columns
│ Row │ variable │ mean    │ min   │ median  │ max   │ nunique │ nmissing │
│     │ Symbol   │ Float64 │ Int64 │ Float64 │ Int64 │ Nothing │ Nothing  │
├─────┼──────────┼─────────┼───────┼─────────┼───────┼─────────┼──────────┤
│ 1   │ A        │ 500.0   │ 1     │ 500.0   │ 999   │         │          │
│ 2   │ B        │ 5.5     │ 1     │ 5.5     │ 10    │         │          │
│ 3   │ C        │ 250.5   │ 1     │ 250.5   │ 500   │         │          │

In [90]:
df.A[1] = 100

100

# Union

In [98]:
a= DataFrame(ID = [20, 40], Name = ["daniel", "hernan"])

2×2 DataFrame
│ Row │ ID    │ Name   │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 20    │ daniel │
│ 2   │ 40    │ hernan │

In [99]:
b= DataFrame(ID = [20, 40], Job = ["estadistica", "matematica"])

2×2 DataFrame
│ Row │ ID    │ Job         │
│     │ Int64 │ String      │
├─────┼───────┼─────────────┤
│ 1   │ 20    │ estadistica │
│ 2   │ 40    │ matematica  │

In [102]:
join(a,b, on=:ID)

2×3 DataFrame
│ Row │ ID    │ Name   │ Job         │
│     │ Int64 │ String │ String      │
├─────┼───────┼────────┼─────────────┤
│ 1   │ 20    │ daniel │ estadistica │
│ 2   │ 40    │ hernan │ matematica  │

## SPLITS

In [108]:
Pkg.add("RDatasets")
Pkg.add("Statistics")

  Resolving package versions...
   Updating `~/.julia/environments/v1.4/Project.toml`
 [no changes]
   Updating `~/.julia/environments/v1.4/Manifest.toml`
 [no changes]
  Resolving package versions...
   Updating `~/.julia/environments/v1.4/Project.toml`
  [10745b16] + Statistics
   Updating `~/.julia/environments/v1.4/Manifest.toml`
 [no changes]

In [114]:
using DataFrames, Statistics, RDatasets

┌ Info: Precompiling RDatasets [ce6b1742-4840-55fa-b093-852dadbb1d8b]
└ @ Base loading.jl:1260

In [116]:
datos = dataset("datasets", "iris") ;

In [117]:
names(datos)

5-element Array{Symbol,1}:
 :SepalLength
 :SepalWidth
 :PetalLength
 :PetalWidth
 :Species

In [118]:
by(datos, :Species, :PetalLength => mean)

3×2 DataFrame
│ Row │ Species      │ PetalLength_mean │
│     │ Categorical… │ Float64          │
├─────┼──────────────┼──────────────────┤
│ 1   │ setosa       │ 1.462            │
│ 2   │ versicolor   │ 4.26             │
│ 3   │ virginica    │ 5.552            │

In [123]:
by(datos, :Species, total = :Species => length)

3×2 DataFrame
│ Row │ Species      │ total │
│     │ Categorical… │ Int64 │
├─────┼──────────────┼───────┤
│ 1   │ setosa       │ 50    │
│ 2   │ versicolor   │ 50    │
│ 3   │ virginica    │ 50    │

In [124]:
by(datos, :Species, total = :Species => length, media=:PetalLength => mean)

3×3 DataFrame
│ Row │ Species      │ total │ media   │
│     │ Categorical… │ Int64 │ Float64 │
├─────┼──────────────┼───────┼─────────┤
│ 1   │ setosa       │ 50    │ 1.462   │
│ 2   │ versicolor   │ 50    │ 4.26    │
│ 3   │ virginica    │ 50    │ 5.552   │

In [126]:
aggregate(datos, :Species, length)

3×5 DataFrame. Omitted printing of 2 columns
│ Row │ Species      │ SepalLength_length │ SepalWidth_length │
│     │ Categorical… │ Int64              │ Int64             │
├─────┼──────────────┼────────────────────┼───────────────────┤
│ 1   │ setosa       │ 50                 │ 50                │
│ 2   │ versicolor   │ 50                 │ 50                │
│ 3   │ virginica    │ 50                 │ 50                │

In [127]:
aggregate(datos, :Species, [sum, mean])

3×9 DataFrame. Omitted printing of 5 columns
│ Row │ Species      │ SepalLength_sum │ SepalWidth_sum │ PetalLength_sum │
│     │ Categorical… │ Float64         │ Float64        │ Float64         │
├─────┼──────────────┼─────────────────┼────────────────┼─────────────────┤
│ 1   │ setosa       │ 250.3           │ 171.4          │ 73.1            │
│ 2   │ versicolor   │ 296.8           │ 138.5          │ 213.0           │
│ 3   │ virginica    │ 329.4           │ 148.7          │ 277.6           │

# Perdidos

In [130]:
df2 = DataFrame(i = 1:5,
                      x = [missing, 4, missing, 2, 1],
                      y = [missing, missing, "c", "d", "e"])

5×3 DataFrame
│ Row │ i     │ x       │ y       │
│     │ Int64 │ Int64⍰  │ String⍰ │
├─────┼───────┼─────────┼─────────┤
│ 1   │ 1     │ missing │ missing │
│ 2   │ 2     │ 4       │ missing │
│ 3   │ 3     │ missing │ c       │
│ 4   │ 4     │ 2       │ d       │
│ 5   │ 5     │ 1       │ e       │

In [131]:
dropmissing(df2)

2×3 DataFrame
│ Row │ i     │ x     │ y      │
│     │ Int64 │ Int64 │ String │
├─────┼───────┼───────┼────────┤
│ 1   │ 4     │ 2     │ d      │
│ 2   │ 5     │ 1     │ e      │

In [135]:
skipmissing(df2)

Base.SkipMissing{DataFrame}(5×3 DataFrame
│ Row │ i     │ x       │ y       │
│     │ Int64 │ Int64⍰  │ String⍰ │
├─────┼───────┼─────────┼─────────┤
│ 1   │ 1     │ missing │ missing │
│ 2   │ 2     │ 4       │ missing │
│ 3   │ 3     │ missing │ c       │
│ 4   │ 4     │ 2       │ d       │
│ 5   │ 5     │ 1       │ e       │)

In [ ]:
# buscar como llenar los vacios y la media cn datos vacios

## Consultas con linq

In [140]:
Pkg.add("DataFramesMeta")

  Resolving package versions...
  Installed DataFramesMeta ─ v0.5.0
   Updating `~/.julia/environments/v1.4/Project.toml`
  [1313f7d8] + DataFramesMeta v0.5.0
   Updating `~/.julia/environments/v1.4/Manifest.toml`
  [1313f7d8] + DataFramesMeta v0.5.0
┌ Info: Precompiling DataFramesMeta [1313f7d8-7da2-5740-9ea0-a2ca25f37964]
└ @ Base loading.jl:1260

In [163]:
using DataFramesMeta

In [141]:
first(datos,5)

5×5 DataFrame
│ Row │ SepalLength │ SepalWidth │ PetalLength │ PetalWidth │ Species      │
│     │ Float64     │ Float64    │ Float64     │ Float64    │ Categorical… │
├─────┼─────────────┼────────────┼─────────────┼────────────┼──────────────┤
│ 1   │ 5.1         │ 3.5        │ 1.4         │ 0.2        │ setosa       │
│ 2   │ 4.9         │ 3.0        │ 1.4         │ 0.2        │ setosa       │
│ 3   │ 4.7         │ 3.2        │ 1.3         │ 0.2        │ setosa       │
│ 4   │ 4.6         │ 3.1        │ 1.5         │ 0.2        │ setosa       │
│ 5   │ 5.0         │ 3.6        │ 1.4         │ 0.2        │ setosa       │

In [154]:
df3 = DataFrame(name=["John", "Sally", "Roger"],
                      age=[54., 34., 79.],
                      children=[0, 2, 4])

3×3 DataFrame
│ Row │ name   │ age     │ children │
│     │ String │ Float64 │ Int64    │
├─────┼────────┼─────────┼──────────┤
│ 1   │ John   │ 54.0    │ 0        │
│ 2   │ Sally  │ 34.0    │ 2        │
│ 3   │ Roger  │ 79.0    │ 4        │

In [158]:
@linq df3 |>
           where(:age .> 40) |>
           select(number_of_children=:children, :name)

2×2 DataFrame
│ Row │ number_of_children │ name   │
│     │ Int64              │ String │
├─────┼────────────────────┼────────┤
│ 1   │ 0                  │ John   │
│ 2   │ 4                  │ Roger  │

In [160]:
@linq datos |>
           where(:SepalLength .> 4) |>
           select(:Species,:SepalLength)

#luego se usa un by para obtener estadisticas por categorias

150×2 DataFrame
│ Row │ Species      │ SepalLength │
│     │ Categorical… │ Float64     │
├─────┼──────────────┼─────────────┤
│ 1   │ setosa       │ 5.1         │
│ 2   │ setosa       │ 4.9         │
│ 3   │ setosa       │ 4.7         │
│ 4   │ setosa       │ 4.6         │
│ 5   │ setosa       │ 5.0         │
│ 6   │ setosa       │ 5.4         │
│ 7   │ setosa       │ 4.6         │
│ 8   │ setosa       │ 5.0         │
│ 9   │ setosa       │ 4.4         │
│ 10  │ setosa       │ 4.9         │
⋮
│ 140 │ virginica    │ 6.9         │
│ 141 │ virginica    │ 6.7         │
│ 142 │ virginica    │ 6.9         │
│ 143 │ virginica    │ 5.8         │
│ 144 │ virginica    │ 6.8         │
│ 145 │ virginica    │ 6.7         │
│ 146 │ virginica    │ 6.7         │
│ 147 │ virginica    │ 6.3         │
│ 148 │ virginica    │ 6.5         │
│ 149 │ virginica    │ 6.2         │
│ 150 │ virginica    │ 5.9         │